/*
 * This is the style file for the form
 */
/* other styles */
.progress-pie {
    height: 100px;
}
.form-class {
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
}
/* center state */
.form-input {
    opacity: 0.0;
    width: 50%;
    max-height: 140px;
    height: 60px;
    transition-property: opacity, width, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.form-header {
    opacity: 0.0;
    width: 50%;
    height: 120px;
    transition-property: opacity, width, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.message-style {
    width: 100%;
    height: 140px;
    max-height: 140px;
    border: 2px mediumseagreen;
    background-color: transparent;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    color: mediumseagreen;
    padding-top: 10px;
}

.form-input-style {
    width: 100%;
    height: 60px;
    max-height: 170px;
    border: none;
    background-color: transparent;
    font-family: 'Lucida Casual', 'Comic Sans MS', 'Font Awesome';
    font-size: 20px;
    outline: none;
    color:  rgba(40, 180, 99, 0.8);
}

.form-button-style {
    width: 100%;
    height: 100px;
    border: solid; /* Green */
    background-color: white;
    border-radius: 5px;
    border-color: mediumseagreen;
    padding: 0px;
    justify-content: center;
}
.form-button-back-text {
    font-size: 16px;
    color: coral;
}
.form-header-style {
    color: dodgerblue;
    font-size: 20px;
    font-weight: normal;
}

.form-input-parent,
.form-header-parent {
    justify-content: space-between;
   
}

.form-go-right,
.form-go-left {
    color: coral;
    background-color: white;
    border-radius: 5px;
    border: 2px solid coral;
    margin: 5px;
}

.form-go-right:hover{
    background-color: #f08080;
    border: 2px solid white;
    color: white;
}
.form-go-left:hover{
    background-color: #f08080;
    border: 2px solid white;
    color: white;
}


.multiButton-tooltip {
    position: absolute;
    opacity: 0;
    top: 0px;
    z-index: 1;
    background: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: black;
    border-radius: 5px;
    border: 0px solid grey;
}

/* Plotting Canvas styling start here */

.row {
    justify-content: space-around;
}
.Bmi,
.IntermittentFasting,
.Macro,
.Micro,
.Micro_vit,
.Advertisement,
.Calories {
    color: grey;
    background-color: white;
    border-radius: 5px;
    border-color: grey;
    border: 2px solid;
    display: none;
    height: auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.BMI_text,
.IF_text,
.MACRO_text,
.MICRO_text,
.MICRO_vit_text,
.AD_text,
.Meal_title, 
.Cal_text{
    color: black;
    font-size: 24px;
    font-weight: bold;
    display: none;
    padding-top: 10px;
}
.BMI_text_description,
.IF_text_description,
.MACRO_text_description,
.MICRO_text_description, 
.MICRO_vit_text_description,
.AD_description, 
.Cal_description {
    color: black;
    font-size: 16px;
    font-weight: normal;
    display: none;
    padding-top: 10px;
}

.meal_plan {
    color: black;
    background-color: white;
    border-radius: 5px;
    border: 2px solid grey;
    display: none;
    height: 700px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.register_txt {
    font-size: 20px;
    color: coral;
    margin-top: -50px;
}
.add_form {
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.client-page {
    height:60px;
    text-align: center;
    background-color: dodgerblue;
    padding-top: -20px;
}
.header-clients-text{
    font-size: 30px;
    color: white;
    margin-top: 5px;
    font-weight: normal;
    font-family: 'Lucida Casual', 'Comic Sans MS'; /*'Lucida Casual', 'Comic Sans MS'*/
}
.client-list-magnified {
    position: fixed;
    background-color: white;
    width: 60%;
    height: 85%;
    bottom: 5%;
    border: solid;
    border-radius: 10px;
    border-color: grey;
    border-width: 1px;
    z-index: 2;
    margin: 10px;
    padding: 10px;
    opacity: 0.7;
    overflow: scroll;
    transition: opacity 1s ease-in-out, height 0.5s ease-in-out, width 0.5s ease-in-out;
}


.client-list {
    color: black;
    background-color: white;
    border-radius: 2%;
    position: relative;
    border: solid;
    border-width: 5px;
    border-color: lightblue;
    height: 800px;
    margin: 20px; 
    padding: 10px;
    opacity: 1;
    transition: opacity 1s ease-in-out, height 0.5s ease-in-out, width 0.5s ease-in-out;
}
.client-list:hover {
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 5px 5px 5px 5px lightgrey;
}

.campaign-list {
    color: black;
    background-color: white;
    border-radius: 1%;
    position: relative;
    border: solid;
    border-width: 3px;
    border-color: lightblue;
    height: 200px;
    margin: 20px; 
    padding: 10px;
    opacity: 1;
    transition: opacity 1s ease-in-out, height 0.5s ease-in-out, width 0.5s ease-in-out;
}
.campaign-list:hover {
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 5px 5px 5px 5px lightgrey;
}

.results-btn {
    display: none;
}

.emailReport,
.pdfReport,
.closeExpandedClient {
    background-color: white;
    color: dodgerblue;
    border-color: dodgerblue;
    border-width: 1px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
}

.pdfReport:hover {
    box-shadow: 2px 2px lightgrey;
}
.emailReport:hover {
    box-shadow: 2px 2px lightgrey;
}
.closeExpandedClient:hover {
    box-shadow: 2px 2px lightgrey;
}

.admin-dashbord {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 200px;
    margin: 30px;
    padding: 0px;
    text-align: center;
}

.admin-dash-text {
    font-size: 20px;
    color: coral;
    text-align: center;
    padding-top: 20px;
}
.admin-dash-icon{
    color: mediumseagreen;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.spinner-js {
    opacity: 0;
}