/*
 * This is the style file for the form
 */
/* center state */
.form-input {
    justify-content: center;
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
}

.form-header {
    justify-content: center;
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
}

/* other styles */
.form-class {
    margin-top: 100px;
    margin-bottom: 100px;
}
#form-header-id{
    padding: 10px;
}
.form-input-style {
    height: 50px;
    width: 50%;
    border: none;
    border-bottom: 2px solid coral;
}

